<div class="heroSlider heroSlider--fixed">
  <img src="./img/posters/1.jpg" alt="Название фильма" width="1280" class="poster" data-id="0001" />
  <img src="./img/posters/2.jpg" alt="Название фильма" width="1280" class="poster" data-id="0002" />
  <img src="./img/posters/3.jpg" alt="Название фильма" width="1280" class="poster" data-id="0003" />
  <img src="./img/posters/4.jpg" alt="Название фильма" width="1280" class="poster" data-id="0004" />
  <img src="./img/posters/5.jpg" alt="Название фильма" width="1280" class="poster" data-id="0005" />
  <img src="./img/posters/6.jpg" alt="Название фильма" width="1280" class="poster" data-id="0006" />
  <img src="./img/posters/7.jpg" alt="Название фильма" width="1280" class="poster" data-id="0007" />
</div>
