<!--header-->
<header class="header">
  <div class="container">
    <a href="./" class="logo">Дмитрий Писарук</a>
    <div class="menu-backdrop">
      <button type="button" class="close-area" data-menu-open></button>
      <div class="menu-body">
        <nav class="menu">
          <ul>
            <li><a href="./">Фильмография</a></li>
            <li><a href="./">Обо мне</a></li>
            <li><a href="./">Клиенты</a></li>
            <li><a href="./">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__buttons">
          <ul class="socials">
            <li>
              <a href="#!" target="_blank">
                <svg width="26" height="25"><use href="./img/icons.svg#instagram"></use></svg>
              </a>
            </li>
          </ul>
          <ul class="language">
            <li><a href="#!" class="language__link active">Ru</a></li>
            <li><span>|</span></li>
            <li><a href="#!" class="language__link">En</a></li>
          </ul>
        </div>
      </div>
    </div>
    <button type="button" class="burger" data-menu-open><span>burger button</span></button>
  </div>
</header>
<!--header end-->
