<!--header-->
<header class="header">
  <div class="container">
    <a href="#" class="logo" data-scrollto="section--hero">
      <svg width="102" height="36"><use href="./img/icons.svg#logo"></use></svg>
    </a>
    <div class="menu-backdrop">
      <button type="button" class="close-area" data-menu-open></button>
      <div class="menu-body">
        <nav class="menu">
          <ul>
            <li><a href="#!">Фильмография</a></li>
            <li><a href="#!">Обо мне</a></li>
            <li><a href="#!">Клиенты</a></li>
            <li><a href="#!">Контакты</a></li>
          </ul>
        </nav>
        <button class="button" data-popup="request">button</button>
      </div>
    </div>
    <button type="button" class="burger" data-menu-open><span>burger button</span></button>
  </div>
</header>
<!--header end-->
