<!--header-->
<div class="headerWrapper">
  <header class="header">
    <div class="container">
      <a href="./" class="logo" data-animation="fade-in">Дмитрий Писарук</a>
      <div class="menu-backdrop" data-animation="fade-in" data-delay="600">
        <button type="button" class="close-area" data-menu-open></button>
        <div class="menu-body">
          <nav class="menu">
            <ul>
              <li><a href="./films.html">Фильмография</a></li>
              <li><a href="./about.html">Обо мне</a></li>
              <li><a href="./clients.html">Клиенты</a></li>
              <li><a href="./contacts.html">Контакты</a></li>
            </ul>
          </nav>
          <div class="header__buttons">
            <ul class="socials">
              <li>
                <a href="#!" target="_blank">
                  <svg width="26" height="25"><use href="./img/icons.svg#instagram"></use></svg>
                </a>
              </li>
            </ul>
            <ul class="language">
              <li class="lang-item lang-item-6 lang-item-ru lang-item-first">
                <a lang="ru-RU" hreflang="ru-RU" href="http://localhost/pisaruk/">ru</a>
              </li>
              <li class="lang-item lang-item-3 lang-item-en current-lang">
                <a lang="en-GB" hreflang="en-GB" href="http://en.localhost/pisaruk/">en</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button type="button" class="burger" data-menu-open data-animation="fade-in" data-delay="600"><span>burger button</span></button>
    </div>
  </header>
</div>
<!--header end-->
