<div class="heroSlider" data-animation="fade-in" data-delay="1000">
  <div class="swiper heroSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./img/main/slide1.jpg" alt="Дмитрий Писарук" width="1280" class="heroImage" /></div>
      <div class="swiper-slide"><img src="./img/main/slide2.jpg" alt="Дмитрий Писарук" width="1280" class="heroImage" /></div>
      <div class="swiper-slide"><img src="./img/main/slide3.jpg" alt="Дмитрий Писарук" width="1280" class="heroImage" /></div>
    </div>
  </div>
</div>
