<!--section Product-->
<section class="section section--auto section--product" data-animation="fade-in" data-delay="800">
  <div class="container">
    <button type="button" class="play" data-popup="video|https://vimeo.com/255295760">
      <svg width="37" height="60" class="play__border"><use href="./img/icons.svg#play_border"></use></svg>
      <svg width="37" height="60" class="play__center"><use href="./img/icons.svg#play"></use></svg>
    </button>
    <div class="product-info">
      <div class="product-info__title">
        <h1 class="title">Cцены из супружеской жизни</h1>
        <ul class="filmInfo">
          <li>Роль: <span>Исп. продюсер</span></li>
          <li>Режиссер: <span>Д. Черкасов</span></li>
          <li>Россия 1</li>
        </ul>
      </div>
      <ul class="footer__links">
        <li><a href="#!" target="_blank">IMDB</a></li>
        <li><a href="#!" target="_blank">Кинопоиск</a></li>
        <li><a href="#!" target="_blank">Кинотеатр</a></li>
      </ul>
    </div>
  </div>
</section>
<!--section Hero end-->

<!--footer-->
<div class="footerWrapper">
  <footer class="footer"></footer>
</div>
<!--footer end-->
