<!--section Hero-->
<section class="section section--hero">
  <div class="container">
    <div class="title-wrapp">
      <h1 class="title title--h1">Дмитрий Писарук</h1>
      <p class="subtitle">продюсер</p>
    </div>
    <button type="button" class="play" data-popup="video">
      <svg width="37" height="60" class="play__border"><use href="./img/icons.svg#play_border"></use></svg>
      <svg width="37" height="60" class="play__center"><use href="./img/icons.svg#play"></use></svg>
    </button>
  </div>
</section>
<!--section Hero end-->
