<!--section Clients-->
<section class="section section--clients">
  <h1 hidden>Клиенты</h1>
  <div class="container">
    <ul class="clients">
      <li class="clients__item"><img src="./img/clients/1.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/2.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/3.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/4.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/5.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/6.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/7.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/8.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/9.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/10.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/11.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/12.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/13.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/14.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
      <li class="clients__item"><img src="./img/clients/15.png" alt="Клиент продюсера Дмитрия Писарука" /></li>
    </ul>
  </div>
</section>
<!--section Hero end-->
