<!--section Films-->
<section class="section section--films">
  <div class="container">
    <h1 hidden>Фильмография</h1>
    <ul class="film-groups">
      <!-- 2021 -->
      <li class="film-group">
        <span class="film-group__year">2021</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0001"></a>
            <h2 class="filmTitle">Мажор в Сочи</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2020 -->
      <li class="film-group">
        <span class="film-group__year">2020</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0002"></a>
            <h2 class="filmTitle">Мажор 4</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Э. Нурбек</span></li>
              <li>1 Канал</li>
            </ul>
          </li>
          <!-- 2 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0003"></a>
            <h2 class="filmTitle">Серебряный Волк</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
          <!-- 3 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0004"></a>
            <h2 class="filmTitle">Cцены из супружеской жизни</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Ш. Гамисония</span></li>
              <li>платформа МТС</li>
            </ul>
          </li>
          <!-- 4 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0005"></a>
            <h2 class="filmTitle">Давай найдем друг друга</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Д. Черкасов</span></li>
              <li>Россия 1</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2019 -->
      <li class="film-group">
        <span class="film-group__year">2019</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0006"></a>
            <h2 class="filmTitle">Кольская сверхглубокая</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>А. Сюхин</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2018 -->
      <li class="film-group">
        <span class="film-group__year">2018</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0007"></a>
            <h2 class="filmTitle">Пиковая дама. Зазеркалье</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Домогаров мл.</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- НА УДАЛЕНИЕ -->
      <!-- 2021 -->
      <li class="film-group">
        <span class="film-group__year">2021</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0001"></a>
            <h2 class="filmTitle">Мажор в Сочи</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2020 -->
      <li class="film-group">
        <span class="film-group__year">2020</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0002"></a>
            <h2 class="filmTitle">Мажор 4</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Э. Нурбек</span></li>
              <li>1 Канал</li>
            </ul>
          </li>
          <!-- 2 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0003"></a>
            <h2 class="filmTitle">Серебряный Волк</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
          <!-- 3 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0004"></a>
            <h2 class="filmTitle">Cцены из супружеской жизни</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Ш. Гамисония</span></li>
              <li>платформа МТС</li>
            </ul>
          </li>
          <!-- 4 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0005"></a>
            <h2 class="filmTitle">Давай найдем друг друга</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Д. Черкасов</span></li>
              <li>Россия 1</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2019 -->
      <li class="film-group">
        <span class="film-group__year">2019</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0006"></a>
            <h2 class="filmTitle">Кольская сверхглубокая</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>А. Сюхин</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2018 -->
      <li class="film-group">
        <span class="film-group__year">2018</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0007"></a>
            <h2 class="filmTitle">Пиковая дама. Зазеркалье</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Домогаров мл.</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 2021 -->
      <li class="film-group">
        <span class="film-group__year">2021</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0001"></a>
            <h2 class="filmTitle">Мажор в Сочи</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2020 -->
      <li class="film-group">
        <span class="film-group__year">2020</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0002"></a>
            <h2 class="filmTitle">Мажор 4</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Э. Нурбек</span></li>
              <li>1 Канал</li>
            </ul>
          </li>
          <!-- 2 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0003"></a>
            <h2 class="filmTitle">Серебряный Волк</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
          <!-- 3 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0004"></a>
            <h2 class="filmTitle">Cцены из супружеской жизни</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Ш. Гамисония</span></li>
              <li>платформа МТС</li>
            </ul>
          </li>
          <!-- 4 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0005"></a>
            <h2 class="filmTitle">Давай найдем друг друга</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Д. Черкасов</span></li>
              <li>Россия 1</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2019 -->
      <li class="film-group">
        <span class="film-group__year">2019</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0006"></a>
            <h2 class="filmTitle">Кольская сверхглубокая</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>А. Сюхин</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2018 -->
      <li class="film-group">
        <span class="film-group__year">2018</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0007"></a>
            <h2 class="filmTitle">Пиковая дама. Зазеркалье</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Домогаров мл.</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 2021 -->
      <li class="film-group">
        <span class="film-group__year">2021</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0001"></a>
            <h2 class="filmTitle">Мажор в Сочи</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2020 -->
      <li class="film-group">
        <span class="film-group__year">2020</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0002"></a>
            <h2 class="filmTitle">Мажор 4</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Э. Нурбек</span></li>
              <li>1 Канал</li>
            </ul>
          </li>
          <!-- 2 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0003"></a>
            <h2 class="filmTitle">Серебряный Волк</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
          <!-- 3 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0004"></a>
            <h2 class="filmTitle">Cцены из супружеской жизни</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Ш. Гамисония</span></li>
              <li>платформа МТС</li>
            </ul>
          </li>
          <!-- 4 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0005"></a>
            <h2 class="filmTitle">Давай найдем друг друга</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Д. Черкасов</span></li>
              <li>Россия 1</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2019 -->
      <li class="film-group">
        <span class="film-group__year">2019</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0006"></a>
            <h2 class="filmTitle">Кольская сверхглубокая</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>А. Сюхин</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2018 -->
      <li class="film-group">
        <span class="film-group__year">2018</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0007"></a>
            <h2 class="filmTitle">Пиковая дама. Зазеркалье</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Домогаров мл.</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 2021 -->
      <li class="film-group">
        <span class="film-group__year">2021</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0001"></a>
            <h2 class="filmTitle">Мажор в Сочи</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2020 -->
      <li class="film-group">
        <span class="film-group__year">2020</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0002"></a>
            <h2 class="filmTitle">Мажор 4</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Э. Нурбек</span></li>
              <li>1 Канал</li>
            </ul>
          </li>
          <!-- 2 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0003"></a>
            <h2 class="filmTitle">Серебряный Волк</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
          <!-- 3 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0004"></a>
            <h2 class="filmTitle">Cцены из супружеской жизни</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Ш. Гамисония</span></li>
              <li>платформа МТС</li>
            </ul>
          </li>
          <!-- 4 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0005"></a>
            <h2 class="filmTitle">Давай найдем друг друга</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Д. Черкасов</span></li>
              <li>Россия 1</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2019 -->
      <li class="film-group">
        <span class="film-group__year">2019</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0006"></a>
            <h2 class="filmTitle">Кольская сверхглубокая</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>А. Сюхин</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2018 -->
      <li class="film-group">
        <span class="film-group__year">2018</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0007"></a>
            <h2 class="filmTitle">Пиковая дама. Зазеркалье</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Домогаров мл.</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 2021 -->
      <li class="film-group">
        <span class="film-group__year">2021</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0001"></a>
            <h2 class="filmTitle">Мажор в Сочи</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2020 -->
      <li class="film-group">
        <span class="film-group__year">2020</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0002"></a>
            <h2 class="filmTitle">Мажор 4</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Э. Нурбек</span></li>
              <li>1 Канал</li>
            </ul>
          </li>
          <!-- 2 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0003"></a>
            <h2 class="filmTitle">Серебряный Волк</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Н. Власов.</span></li>
              <li>платформа «Яндекс»</li>
            </ul>
          </li>
          <!-- 3 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0004"></a>
            <h2 class="filmTitle">Cцены из супружеской жизни</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Ш. Гамисония</span></li>
              <li>платформа МТС</li>
            </ul>
          </li>
          <!-- 4 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0005"></a>
            <h2 class="filmTitle">Давай найдем друг друга</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Д. Черкасов</span></li>
              <li>Россия 1</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2019 -->
      <li class="film-group">
        <span class="film-group__year">2019</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0006"></a>
            <h2 class="filmTitle">Кольская сверхглубокая</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>А. Сюхин</span></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2018 -->
      <li class="film-group">
        <span class="film-group__year">2018</span>
        <ul class="film-group__list">
          <!-- 1 -->
          <li>
            <a href="./product.html" class="js-film-hover" data-id="0007"></a>
            <h2 class="filmTitle">Пиковая дама. Зазеркалье</h2>
            <ul class="filmInfo">
              <li>Роль: <span>Исп. продюсер</span></li>
              <li>Режиссер: <span>Домогаров мл.</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- НА УДАЛЕНИЕ -->
    </ul>
  </div>
</section>
<!--section Hero end-->
