<div class="heroSlider">
  <div class="swiper heroSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./img/main/slide1.jpg" alt="Дмитрий Писарук" width="1280" /></div>
      <div class="swiper-slide"><img src="./img/main/slide2.jpg" alt="Дмитрий Писарук" width="1280" /></div>
      <div class="swiper-slide"><img src="./img/main/slide3.jpg" alt="Дмитрий Писарук" width="1280" /></div>
    </div>
  </div>
</div>

<!--section Hero-->
<section class="section section--hero">
  <div class="container">
    <div class="title-wrapp">
      <h1 class="title title--h1">Дмитрий Писарук</h1>
      <p class="subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eius alias et! Tempora illum, in cumque sit, magnam assumenda aliquid quod amet
        officia necessitatibus laboriosam nulla quia aperiam debitis saepe. Deleniti quam autem odit eum, accusantium nostrum reiciendis, laboriosam
        officiis omnis voluptates reprehenderit quos, nemo nisi. Quasi error eligendi sunt tenetur veniam. Fugit repudiandae iste, iusto error in
      </p>
      <button class="button" data-popup="request">button</button>
    </div>
  </div>
</section>
<!--section Hero end-->
