<section class="section section--films default-page" data-animation="fade-in" data-delay="800">
  <div class="container article">
    <article id="post-65" class="post-65 page type-page status-publish has-post-thumbnail hentry">
      <h1><strong>О</strong><strong>Б</strong><strong>О</strong> <strong>М</strong><strong>Н</strong><strong>Е</strong></h1>
      <p>
        Привет! Я — исполнительный продюсер, продюсер, киноман. Родился в Белгороде (25.09.1980), закончил Белгородский университет (Экономический
        факультет, специализация: менеджмент), работаю в кино с 2003 года.
      </p>
    </article>
    <div class="postButtons" data-animation="fade-bottom" data-delay="50">
      <a href="#!" target="_blank" class="postButtons__icon">
        <img src="./img/about/mars.png" alt="Ссылка на партнёра" />
      </a>
      <a href="#!" class="button" target="_blank"><span>Резюме</span></a>
    </div>
  </div>
</section>

<div class="aboutSlider" data-animation data-delay="1000">
  <div class="swiper heroSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./img/main/slide1.jpg" alt="Дмитрий Писарук" width="1280" class="heroImage" /></div>
      <div class="swiper-slide"><img src="./img/main/slide2.jpg" alt="Дмитрий Писарук" width="1280" class="heroImage" /></div>
      <div class="swiper-slide"><img src="./img/main/slide3.jpg" alt="Дмитрий Писарук" width="1280" class="heroImage" /></div>
    </div>
  </div>
</div>

<!-- .post-thumbnail -->
<!-- <div class="post-thumbnail">
  <img
    src="./img/about/poster.jpg"
    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
    alt=""
    decoding="async"
    loading="lazy"
    sizes="(max-width: 1440px) 100vw, 1440px"
  />
</div> -->
