/*rotate [animation: 4s linear 0s infinite alternate rotate] */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes poster {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.rotate-animation {
  animation: 4s linear 0s infinite rotate;
}
.rotate-animation2 {
  animation: 4s linear 0s infinite rotate2;
}

/*standatr animations*/
[data-animation='fade-left'] {
  transform: translate(-20px, 0px);
}
[data-animation='fade-right'] {
  transform: translate(20px, 0px);
}
[data-animation='fade-top'] {
  transform: translate(0px, -20px);
}
[data-animation='fade-bottom'] {
  transform: translate(0px, 20px);
}
[data-animation='fade-in'],
[data-animation='fade-left'],
[data-animation='fade-right'],
[data-animation='fade-top'],
[data-animation='fade-bottom'] {
  opacity: 0;
  transition: opacity 0.8s var(--cubic), transform 0.8s var(--cubic);
  &.animate {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
[data-animation='fade-in'] {
  transition: opacity 1.5s var(--cubic);
}
