.body {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: 'coco_ultralight', verdana;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #fff;
  background-color: #000;

  &.lock {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  @include css-r('padding', 40, 15, 1);
  z-index: 2;
  &:before {
    content: '';
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.6);
    @include css-r('right', 39, 14, 1);
    @include css-r('top', 39, 14, 1);
    @include css-r('bottom', 39, 14, 1);
    @include css-r('left', 39, 14, 1);
    z-index: 1;
    pointer-events: none;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1280px;
}

.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
