html {
  height: 100%;
}
// ::-webkit-scrollbar {
//   width: 0;
// }
.body {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: 100%;
  font-family: 'coco_ultralight', verdana;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #fff;
  background-color: #000;

  &.lock {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  height: auto;
  min-height: 100%;
  @include css-r('padding', 40, 15, 1);
  z-index: 2;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}

.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  @include css-r('padding-top', 110, 70, 1);
  @include css-r('padding-bottom', 110, 70, 1);
  @include css-r('padding-left', 40, 15, 1);
  @include css-r('padding-right', 40, 15, 1);
}

.whiteFrame {
  position: fixed;
  display: block;
  z-index: 50;
  height: calc(50% - 39px);
  pointer-events: none;
  @include css-r('right', 39, 14, 1);
  @include css-r('left', 39, 14, 1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  &.bottom {
    bottom: 39px;
    border-top: none;
  }
  &.top {
    top: 39px;
    border-bottom: none;
  }
  @media screen and (max-width: 1279px) {
    &.bottom {
      bottom: 29px;
    }
    &.top {
      top: 29px;
    }
    height: calc(50% - 29px);
  }
  @media screen and (max-width: 869px) {
    &.bottom {
      bottom: 25px;
    }
    &.top {
      top: 25px;
    }
    height: calc(50% - 25px);
  }
  @media screen and (max-width: 729px) {
    &.bottom {
      bottom: 22px;
    }
    &.top {
      top: 22px;
    }
    height: calc(50% - 22px);
  }
  @media screen and (max-width: 549px) {
    &.bottom {
      bottom: 20px;
    }
    &.top {
      top: 20px;
    }
    height: calc(50% - 20px);
  }
  @media screen and (max-width: 440px) {
    &.bottom {
      bottom: 14px;
    }
    &.top {
      top: 14px;
    }
    height: calc(50% - 14px);
  }
}
