.body {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: 'coco_gothic_small_capsultraLt', sans-serif;
  font-size: 12px;
  line-height: calc(16 / 12);
  font-weight: 400;
  color: #fff;
  background-color: #000;

  &.lock {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.main {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 40px;
  &:before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    left: 39px;
    right: 39px;
    top: 39px;
    bottom: 39px;
    z-index: 1;
    pointer-events: none;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1280px;
}

.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
