.footerWrapper {
  position: fixed;
  display: block;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

.footer {
  position: relative;
  width: 100%;
  color: #fff;
  > * {
    position: relative;
    z-index: 1;
  }
  padding-top: 20px;
  @include css-r('padding-bottom', 60, 23, 1);
  @include css-r('padding-left', 80, 30, 1);
  @include css-r('padding-right', 80, 30, 1);
  &:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9051995798319328) 13%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
  }
}

.socials {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  a {
    transition: 250ms var(--cubic);
    opacity: 1;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}
