/*-----------------------------FORMS*/
.form {
  position: relative;
}

.label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  text-align: left;
}

.label:first-child {
  margin-top: 0px;
}

.label__text,
.fieldset__title {
  display: inline-block;
  height: auto;
  position: relative;
  font-size: 16px;
  margin-bottom: 6px;
  color: #fff;
  user-select: none;
}

/*input text & textarea*/
.input {
  display: inline-block;
  width: 100%;
  height: 58px;
  font-size: 24px;
  line-height: calc(32 / 24);
  padding: 0px 10px;
  background: none;
  border: none;
  font-family: 'coco_light';
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  outline: none;
  transition: border 250ms var(--cubic);
  @media screen and (max-width: 767px) {
    height: 48px;
    font-size: 16px;
    line-height: calc(32 / 16);
  }
  &.input--icon {
    padding-left: 40px;
  }
  &.red {
    border-bottom: 1px solid var(--red) !important;
    color: var(--red);
    + .label__icon {
      fill: var(--red) !important;
    }
  }
  &::placeholder {
    font-size: 24px;
    line-height: calc(32 / 24);
    color: var(--placeholder);
    transition: opacity 250ms var(--cubic);
    opacity: 1;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: calc(32 / 16);
    }
  }
  &:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    &::placeholder {
      opacity: 0;
    }
  }
  &:-webkit-autofill {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
    -webkit-text-fill-color: #000000 !important;
    color: #000000 !important;
  }
}

/*textarea*/
.input--textarea {
  display: block;
  height: 120px;
  resize: none;
}

/*checkbox and radio*/
.fieldset {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 24px;
  align-items: center;
  gap: 20px 30px;
  .fieldset__title {
    margin-bottom: 14px;
  }
  .label {
    margin: 0;
    &.full {
      width: 100%;
    }
  }
  .label__text {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    color: var(--black);
    transform: translateY(0px);
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      transition: 250ms var(--cubic);
      cursor: pointer;
    }
    &:before {
      position: relative;
      margin-right: 10px;
      border: 1px solid var(--black);
    }
    &:after {
      position: absolute;
      background: green;
      transform: scale(0);
    }
  }
}

.fieldset .label--radio .label__text:before,
.fieldset .label--radio .label__text:after {
  border-radius: 20px;
}

.checkbox,
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:checked {
    + .label__text:before {
      border: 1px solid green;
    }
    + .label__text:after {
      transform: scale(0.6);
    }
  }
  &.red {
    + .label__text:before {
      border: 1px solid var(--red);
    }
  }
}

.label__error {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  transform-origin: center top;
  height: 0px;
  left: 0px;
  top: 4px;
  font-family: 'coco_light', verdana;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  color: var(--red);
  transition: 250ms var(--cubic);
  transform: scaleY(0);
  &.active {
    height: 16px;
    transform: scaleY(1);
  }
}
