/*----------------------------------------------- HEADER*/

.header {
  position: relative;
  left: 0px;
  top: 0px;
  @include css-r('padding-top', 30, 10, 1);
  @include css-r('padding-bottom', 30, 10, 1);
  @include css-r('padding-left', 40, 15, 1);
  @include css-r('padding-right', 40, 15, 1);
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }
  .close-area {
    @media screen and (max-width: 767px) {
      display: block;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.logo {
  display: inline-flex;
  position: relative;
  z-index: 3;
  align-items: center;
  max-width: 102px;
  font-size: 18px;
  line-height: 18px;
  font-family: 'coco_bold', verdana;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.menu-backdrop {
  width: 100%;
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--cubic) 350ms, visibility 250ms var(--cubic) 350ms;
    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
      .menu-body {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.menu-body {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  .closeBtn {
    right: 4px;
    top: 4px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: space-between;
    @include css-r('padding', 40, 15, 1);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: 250ms var(--cubic);
    &:before {
      content: '';
      position: absolute;
      border: 1px solid rgba(255, 255, 255, 0.6);
      @include css-r('right', 39, 14, 1);
      @include css-r('top', 39, 14, 1);
      @include css-r('bottom', 39, 14, 1);
      @include css-r('left', 39, 14, 1);
      z-index: 1;
      pointer-events: none;
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    align-items: center;
  }
}

.menu {
  li {
    a {
      display: block;
      position: relative;
      font-size: 18px;
      line-height: calc(24 / 18);
      opacity: 1;
      transition: 250ms var(--cubic);
      &:hover,
      &:focus,
      &:active {
        opacity: 0.5;
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    ul {
      padding-top: 50px;
      li {
        margin: 16px 0px;
        display: inline-block;
        width: 100%;
        a {
          font-family: 'coco_light';
          text-align: center;
          font-size: 24px;
          line-height: calc(32 / 24);
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    padding: 0px 20px;
    width: auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        gap: 0px 36px;
      }
      @media screen and (min-width: 1024px) {
        gap: 0px 70px;
      }
    }
  }
}

.burger {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 22px;
  height: 26px;
  cursor: pointer;
  &:before,
  &:after,
  span {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    transition: 600ms var(--cubic);
    font-size: 0px;
  }
  span {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  &:before {
    width: 50%;
    transform: rotate(0deg) translate(50%, 8px);
  }
  &:after {
    transform: rotate(0deg) translate(0%, -8px);
  }
  &.is-open {
    span {
      opacity: 0;
      transform: translate(100%, 0%);
    }
    &:before {
      width: 100%;
      transform: rotate(45deg) translate(0%, 0%);
    }
    &:after {
      transform: rotate(-45deg) translate(0%, 0%);
    }
  }
  @media screen and (max-width: 767px) {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.closeBtn {
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 6;
  color: var(--black);
  svg {
    fill: currentColor;
  }
}

.close-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    @include css-r('padding-top', 30, 15, 1);
    @include css-r('padding-bottom', 30, 15, 1);
    @include css-r('padding-left', 40, 15, 1);
    @include css-r('padding-right', 40, 15, 1);
  }
  .socials {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.language {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: calc(24 / 18);
  gap: 8px;
  span {
    cursor: default;
  }
  .language__link {
    transition: 250ms var(--cubic);
    color: #fff;
    opacity: 0.4;
    &:hover,
    &:focus,
    &.active {
      opacity: 1;
    }
  }
}
