/*----------------------------------------------- PRELOADER*/

.preloader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 9999;
  background: #000000;
  transition: opacity 0ms var(--cubic), visibility 0ms var(--cubic);
  &.is--hidden {
    transition: opacity 1200ms var(--cubic), visibility 1200ms var(--cubic);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.preloaderLogo {
  position: relative;
  font-family: 'coco_bold', Verdana;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  span {
    display: block;
    position: relative;
    opacity: 0;
    color: #fff;
  }
}

.preloaderLogo__top {
  animation: 2500ms var(--cubic) 0ms infinite preloader-top;
}
.preloaderLogo__bottom {
  animation: 2500ms var(--cubic) 150ms infinite preloader-bottom;
}
