.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px 3.125%;

  .clients__item {
    width: 17.5%;
    opacity: 0;
    transition: 1000ms var(--cubic) 800ms;
    &:nth-child(2n) {
      transition: 1000ms var(--cubic) 1000ms;
    }
    &:nth-child(3n) {
      transition: 1000ms var(--cubic) 1200ms;
    }
    &:nth-child(4n) {
      transition: 1000ms var(--cubic) 1400ms;
    }
    &.animate {
      opacity: 1;
    }
    img {
      transition: 250ms var(--cubic);
      filter: grayscale(100%);
    }
    &:hover,
    &:focus {
      img {
        filter: grayscale(0);
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .clients {
    gap: 40px 3.125%;
    .clients__item {
      width: 31.25%;
    }
  }
}
