/*----------------------------------------------- TYPOGRAPHY */

.title-wrapp {
  display: inline-block;
  width: 100%;
}

.title-wrapp > * {
  margin-top: 20px;
}

.title-wrapp > *:first-child {
  margin-top: 0px;
}

.title {
  font-family: 'coco_ultralight', verdana;
  font-weight: normal;
  &.title--h1 {
    @include css-r('font-size', 120, 50, 1);
    @include css-r('line-height', 120, 50, 1);
  }
  &.title--h2 {
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }
}

.subtitle {
  @media screen and (max-width: 767px) {
    font-size: 36px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
