/*----------------------------------------------- TYPOGRAPHY */

.title-wrapp {
  display: inline-block;
  width: 100%;
}

.title-wrapp > * {
  margin-top: 10px;
}

.title-wrapp > *:first-child {
  margin-top: 0px;
}

.title {
  font-family: 'coco_ultralight', verdana;
  font-weight: normal;
  &.title--h1 {
    @include css-r('font-size', 120, 50, 1);
    @include css-r('line-height', 120, 50, 1);
    @media screen and (max-width: 1439px) {
      @include css-r('font-size', 80, 50, 1);
      @include css-r('line-height', 80, 50, 1);
    }
  }
  &.title--h2 {
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }
}

.subtitle {
  font-family: 'coco_ultralight', verdana;
  font-size: 24px;
  line-height: calc(32 / 24);
}
