:root {
  --green: #7eb101;
  --lime: #bbf330;
  --black: #2c2c2c;
  --grey: #f5f5f5;
  --placeholder: rgba(255, 255, 255, 0.4);
  --white: #fefefe;
  --button-color: #fff;
  --button-color-hover: #bbf330;
  --red: #e34f4f;
  --backdrop: rgba(0, 0, 0, 0.5);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'coco_bold';
  src: url('../fonts/cgsc-bold.woff2') format('woff2'), url('../fonts/cgsc-bold.woff') format('woff'),
    url('../fonts/cgsc-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coco_light';
  src: url('../fonts/cgsc-light.woff2') format('woff2'), url('../fonts/cgsc-light.woff') format('woff'),
    url('../fonts/cgsc-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coco_ultralight';
  src: url('../fonts/cgsc-ultralight.woff2') format('woff2'), url('../fonts/cgsc-ultralight.woff') format('woff'),
    url('../fonts/cgsc-ultralight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import '_mixins';
@import '_body';
@import '_typography';
@import '_preloader';
@import '_header';
@import '_section-hero';
@import '_buttons';
@import '_forms';
@import '_footer';
@import '_popup';
@import '_swiper';
@import '_animations';
